In [5]:
import pandas as pd

In [11]:
friend_dict_list = [
    {'name' : 'John', 'age': '25' , 'job': 'student'}, 
    {'name' : 'Nate', 'age': '35' , 'job': 'teacher'}
    ]

In [13]:
df = pd.DataFrame(friend_dict_list)
df.head() #dic 순서 제멋대로임

   name age      job
0  John  25  student
1  Nate  35  teacher

In [15]:
df = df[['name', 'age', 'job']]
df

   name age      job
0  John  25  student
1  Nate  35  teacher

In [16]:
from collections import OrderedDict #키 순서 보장됨

In [20]:
friend_ordered_dict = OrderedDict(
[
    ('name', ['John', 'Nate']),
    ('age', [25, 35]),
    ('job', ['student', 'teacher']),
]
)

In [21]:
df = pd.DataFrame.from_dict(friend_ordered_dict)
df.head()

   name  age      job
0  John   25  student
1  Nate   35  teacher

In [23]:
friend_list = [
    ['John', 25, 'student'],
    ['Nate', 35, 'teacher']
]

In [24]:
column_name=['name', 'age', 'job']

In [25]:
df= pd.DataFrame.from_records(friend_list, columns= column_name)

In [26]:
df.head()

   name  age      job
0  John   25  student
1  Nate   35  teacher

In [27]:
friend_list = [
    ['name', ['John', 'Nate']],
    ['age', [25, 35]],
    ['job', ['student', 'teacher']]
]

In [31]:
from collections import OrderedDict #키 순서 보장됨

In [39]:
df = pd.DataFrame.from_dict(OrderedDict(friend_list))
df.head()

   name  age      job
0  John   25  student
1  Nate   35  teacher

In [41]:
friends = [{'name': 'jone', 'age': 20, 'job': 'student'},
           {'name': 'jenny', 'age': 30, 'job': None},
           {'name' : 'Nate', 'age': 35 , 'job': 'teacher'}]
df= pd.DataFrame(friends)
df = df[['name', 'age', 'job']]
df.head()

    name  age      job
0   jone   20  student
1  jenny   30     None
2   Nate   35  teacher

In [47]:
df.to_csv('friends.csv', index=True, header= True) #csv로 파일 저장, 뒷 두개는 기본전제화 되어있음

In [48]:
df.to_csv('friends.csv', index=False, header= True) #파일왼쪽 0,1,2 없음
df

    name  age      job
0   jone   20  student
1  jenny   30     None
2   Nate   35  teacher

In [49]:
df.to_csv('friends.csv', index= False, header= False, na_rep = '-') #none value는 대쉬로 해라